@import "../../../styles/variables";

.profileDiv {
    width: 60%;
    margin-top: 15%;
}

.edit-profile-title, .profile-card, .fa-check-square, .fa-window-close, .fa-edit, #rental, .fa-trash, .fa-credit-card, #renting {
    color: white;
}