@import "../../../styles/variables";

.profileDiv {
    width: 60%;
    margin-top: 10%;
}

.edit-profile-title, .profile-card, .fa-check-square, .fa-window-close, #profile-edit, .profile-delete-btn, .fa-credit-card, #renting {
    color: white;
}

#account, #property {
    width: 55%;
}