@import '../../../styles/variables';

.Home {
    margin-top: 100px;
    width: 75%;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1 !important;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2 !important;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2 !important;
        width: 65%;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 2 !important;
        width: 65%;
    }
}

.card:nth-child(odd) {background:$color3}
// .card:nth-child(odd) {background:$color4}