@import '../../../styles/variables';

.Home {
    margin-top: 100px;
    width: 75%;
    font-family: $body-font;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1 !important;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2 !important;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2 !important;
        width: 65%;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 2 !important;
        width: 65%;
    }
}

#profile, #likedProperties, #properties, #addProperty {
    background:$color7;
    cursor: pointer;
}

.card:hover{ 
    box-shadow: 1px 8px 20px $color3;
    -webkit-transition:  box-shadow .6s ease-in;
 }

 #profile, #addProperty {
     color: $color3;
 }

 #likedProperties, #properties {
     color: $color6;
 }