@import '../../../styles/variables';

.Home {
    margin-top: 100px;
    width: 75%;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1 !important;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2 !important;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2 !important;
        width: 65%;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 2 !important;
        width: 65%;
    }
}

#profile, #likedProperties, #properties, #addProperty {
    background:$color1;
    cursor: pointer;
}

.card:hover{ 
    box-shadow: 1px 8px 20px $color2;
    -webkit-transition:  box-shadow .6s ease-in;
 }


// .zoom {
//     transition: all 0.5s;
// }

// .zoom:hover {
//     -ms-transform: scale(1.1); /* IE 9 */
//     -webkit-transform: scale(1.1); /* Safari 3-8 */
//     transform: scale(1.1); 
//   }