@import '../../../styles/variables';
.singleSiloNuclear {
  width: 18rem;
  padding: 30px;
  font-family: $body-font;
  cursor:pointer;
}

.imgHolder {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.singleSiloNuclearImg {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.singleSiloNuclear:nth-child(even){
  background:$color7;
}

.singleSiloNuclear:nth-child(odd){
  background:$color8;
}