@import '../../../styles/variables';

.back-button{
    margin-top: 65px;
    margin-left: 27px;
}

.button{
    position: absolute;
    bottom:0;
    right:0;
}

.singleOwnerProperties:nth-child(even){
    background:$color7;
  }

.singleOwnerProperties:nth-child(odd){
    background:$color8;
  }