@import '../../styles/variables';

.new-property {
    width: 60%;
    margin-top: 5%;
    color: white;
}

.add-property-title {
    color: white;
}

.modal-body {
    background-color: $color2;
}

.edit {
    color:$color3 !important;
}