@import "../../styles/variables";

.paymentMethod-add-btn {
    color: $color3 !important;
}

.edit-payment-submit-btn {
    color: $color3 !important;
}

.paymentType-label {
    font-size: 20px;
    font-family: $header-font;
}