@import '../../../styles/variables';

.fa-arrow-alt-circle-left {
    color: $color3,
}

.graph-container {
    color: white;
    width: 75%;
}

.recharts-cartesian-axis-tick-value {
    font-size: 10px;
}

.recharts-tooltip-label{
    color: black;
}

.dashboardTitle {
    font-family:$header-font;
}
.recharts-layer {
    color: white !important;
}

.dashboardContainer {
    width: 60%;
    margin-top: 4.5%;
    color:white;
}

.dashboardWrapper{
    width: 70%
}

.back-button {
    margin-left:15px;
}

@media (max-width: 768px) {
    .dashboardWrapper {
        width:100% !important;
    }
}
@media (min-width:769px) and (max-width:992px) {
    .dashboardWrapper {
        width:80% !important;
    }
    .dashboardContainer {
        margin-top: 12.5% !important;
    }
}
