@import '../../../styles/variables';

.detail {
  margin-top:10px;
  margin-bottom: 10px;
  width:25rem;
}

#details {
  background: $color7;
}

#isLiked {
  color:red;
}

.owner-name {
  cursor: pointer;
}

.edit-icon {
  color:black
}

.deactivate-icon {
  color:$color13;
  padding-top:5px;
}

.activate-icon {
  color:$color12;
  padding-top:5px;
}

.owner-name {
  color: $color14;
}

.propertyTitle {
  font-family: $header-font;
}

.likePropertyButton{
  color:$color1;
}

.allProperties{
  color:$color11;
}

.rentButton{
  color:$color11;
}

.edit-icon{
  color:$color2;
}