@import '../../../styles/variables';

.detail {
  margin-top:10px;
  margin-bottom: 10px;
  width:25rem;
}

#details {
  background: $color7;
}

#isLiked {
  color:red;
}

.owner-name {
  cursor: pointer;
}

.edit-icon {
  color:black
}

.deactivate-icon {
  color:green;
}

.activate-icon {
  color: red;
}

.owner-name {
  color: blue;
}

.propertyTitle {
  font-family: $header-font;
}

.likePropertyButton{
  color:$color1;
}

.allProperties{
  color:$color11;
}