@import "../../../styles/variables";

.paymentMethodDiv {
    width: 60%;
    margin-top: 15%;
}

.edit-paymentMethod-title, .paymentMethod-card, .fa-check-square, .fa-window-close, #rental, #renting {
    color: white;
}