.sort-btn, .fa-arrow-alt-circle-up, .fa-arrow-alt-circle-down {
    color: white;
}
.sort-btn{
    margin-right: 15px;
}
.lightHouses{
    margin-top: 2rem;
}

.serach-sort-container{
    margin-top:5rem;
}