@import '../../../styles/variables';

.singleLightHouse {
  width: 18rem;
  padding: 30px;
  font-family: $body-font;
  cursor:pointer;
}

.imgHolder {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.singleLightHouseImg {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.singleLightHouse:nth-child(even){
  background:$color7;
}

.singleLightHouse:nth-child(odd){
  background:$color10;
}

.description {
  padding-top:1.25rem !important;
  padding-left:0px !important;
  padding-right:0px !important;
  padding-bottom:0px !important;
}